﻿@model AltaUsuarios.Models.ResultadoVM


<h2>@Model.Mensaje</h2>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-primary" href="@Url.Action("Index","Home")">Menú</a>
    </div>
</div>
