﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h2>@Resources.Resource.EligeOpcion</h2>
    <div class="col-xs-4">
        <a class="btn btn-primary" href="@Url.Action("Index","Usuario")">@Resources.Resource.Alta</a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary" href="@Url.Action("Listado","Usuario")">@Resources.Resource.Listado</a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary" href="@Url.Action("Login","Usuario")">@Resources.Resource.Login</a>
    </div>
</div>