﻿@model List<AltaUsuarios.Models.UsuarioVM>
@{
    ViewBag.Title = Resources.Resource.Listado;
}

<h2>@ViewBag.Title.</h2>

  <table class="table table-stripped">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          @foreach (var usuario in Model)
          {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Edad</td>
                <td>@usuario.Email</td>
            </tr>

          }
      </tbody>
  </table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-primary" href="@Url.Action("Index","Home")">Menú</a>
    </div>
</div>
